{% extends "base.html" %}
{% load static %}

{% block title %}Contact • PAWVENTORY{% endblock %}

{% block content %}
<section class="py-5 mt-5">
  <div class="container">

    <div class="text-center mb-4">
      <h2 class="section-title">Contact Us</h2>
      <p class="section-sub">We’d love to hear from you</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">

        <div class="paw-card p-4">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success text-center">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Message</label>
              <textarea name="message" rows="4" class="form-control" required></textarea>
            </div>

            <button class="btn" style="background:var(--accent); color:#fff;">
              Send Message
            </button>

          </form>

        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
